<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UmeetI</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            body,
            html {
                width: 100%;
                height: 100%;
            }

            body,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
                font-weight: 700;
            }


            .topnav {
                font-size: 14px; 
            }

            .lead {
                font-size: 18px;
                font-weight: 400;
            }

            .intro-header {
                padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
                padding-bottom: 50px;
                text-align: center;
                color: #f8f8f8;
                background: url(https://static.pexels.com/photos/30503/pexels-photo-30503.jpg) no-repeat center center;
                -webkit-filter: brightness(90%);
                background-size: cover;
                height: 100%;

            }

            .intro-message {
                position: relative;
                padding-top: 20%;
                padding-bottom: 20%;
            }

            .intro-message > h1 {
                margin: 0;
                text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
                font-size: 5em;
            }

            .intro-divider {
                width: 400px;
                border-top: 1px solid #f8f8f8;
                border-bottom: 1px solid rgba(0,0,0,0.2);
            }

            .intro-message > h3 {
                text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
            }

            @media(max-width:767px) {
                .intro-message {
                    padding-bottom: 15%;
                }

                .intro-message > h1 {
                    font-size: 3em;
                }

                ul.intro-social-buttons > li {
                    display: block;
                    margin-bottom: 20px;
                    padding: 0;
                }

                ul.intro-social-buttons > li:last-child {
                    margin-bottom: 0;
                }

                .intro-divider {
                    width: 100%;
                }
            }

            .network-name {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 2px;
            }

            .content-section-a {
                padding: 50px 0;
                background-color: #f8f8f8;
            }

            .content-section-b {
                padding: 50px 0;
                border-top: 1px solid #e7e7e7;
                border-bottom: 1px solid #e7e7e7;
            }

            .section-heading {
                margin-bottom: 30px;
            }

            .section-heading-spacer {
                float: left;
                width: 200px;
                border-top: 3px solid #e7e7e7;
            }

            .banner {
                padding: 100px 0;
                color: #f8f8f8;
                background: url(../img/banner-bg.jpg) no-repeat center center;
                background-size: cover;
            }

            .banner h2 {
                margin: 0;
                text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
                font-size: 3em;
            }

            .banner ul {
                margin-bottom: 0;
            }

            .banner-social-buttons {
                float: right;
                margin-top: 0;
            }

            @media(max-width:1199px) {
                ul.banner-social-buttons {
                    float: left;
                    margin-top: 15px;
                }
            }

            @media(max-width:767px) {
                .banner h2 {
                    margin: 0;
                    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
                    font-size: 3em;
                }

                ul.banner-social-buttons > li {
                    display: block;
                    margin-bottom: 20px;
                    padding: 0;
                }

                ul.banner-social-buttons > li:last-child {
                    margin-bottom: 0;
                }
            }

            footer {
                padding: 50px 0;
                background-color: #f8f8f8;
            }

            p.copyright {
                margin: 15px 0 0;
            }
        </style>
    </head>
    
    <body>

        {{{ body }}}

    </body>
    </html>