
<div class="container" id="main" style="padding-top: 50px;">

    <form action="/requestFriend/{{ user.username }}" method="POST" enctype="multipart/form-data">
		<!--div class="form-group">
          <label for="age">Age:</label> <input class="form-control" id="age" type="text" value="{{ age }}">
        </div-->
        <div class="form-group">
          <label for="target">Id:</label> <input class="form-control" name="target" id="target" >
        </div>
        <div class="form-group">
          <label for="message">Short Message:</label> 
          <textarea name="message" class="form-control" id="message" rows="3"></textarea>
        </div>
		
		<div class="row center-block" style="padding-top:20px; width:140px;">
            <div>
              <button class="btn btn-success btn-lg" type="submit">Submit</button>
            </div>
          </div>
	
	</form>
		
 </div>